@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  margin: 0;
}

.logo {
  width: clamp(300px, 100%, 450px);
}

.nav-btn-box {
  border-top: 3px double gray;
}

.category a:hover {
  color: #ff2c99;
}

@media screen and (max-width: 992px) {
  .head-news {
    flex-direction: column;
    align-items: center;
  }
  .head-news-box {
    margin-top: -16vh;
  }
  .head-news-img {
    min-width: 100%;
    min-height: 50%;
  }
  .head-news-text {
    min-width: 80%;
    min-height: 50%;
    margin-top: -10vw;
    padding: 2vh;
    background-color: white;
  }

  .head-news-text h2 {
    font-size: clamp(10px, 2vw, 32px);
    width: 100%;
    box-sizing: border-box;
    font-weight: 1000;
  }
  .haed-news-description {
    font-size: clamp(8px, 1.6vw, 18px);
  }
  .head-news-date {
    font-size: clamp(6px, 1.2vw, 12px);
  }
}

/* 기본: 1열 */
.card-grid {
  grid-template-columns: 1fr;
}

/* 중간 화면 이상: 3열 */
@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* 768px에서 사이드 메뉴*/
@media screen and (max-width: 768px) {
  .head-box {
    margin-top: 25px;
    min-height: 350px;
  }
  .nav-btn-box {
    display: none;
  }
  .head-news-box {
    margin-top: clamp(-300px, 5vh, -80px);
  }
  .head-news-text {
    margin-top: -2vh;
  }
  .card{
    min-height: 200px;
  }
  .side-nav-box {
    display: block;
    color: white;
    top: 10px;
    left: 10px;
    max-width: 25px;
    max-height: 25px;
    border: 1px solid white;
  }

  .side-nav-box img {
    width: 100%;
    height: 100%;
  }
  .search-news-box {
    left: 40px;    
  }
  .search-news-box img{
    margin-left: 5px;
  }
  .side-menu{
    width: clamp(180px, 20vw, 400px);
    height: clamp(250px, 35vh, 400px);
    top: 0;
    left: 0;
    background-color: black;    
  }
  .head-news-img{
    max-height: 450px;
  }
}

/* 큰 화면 이상: 4열 */
@media (min-width: 1280px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 작은 화면 이상: 2열 */
@media (min-width: 640px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 560px) {
  .head-box {
    margin-top: 25px;
    min-height: 250px;
    max-height: 300px;
    padding-top: 20px;
  }
  .head-news-box {
    margin-top: clamp(-300px, -5vh, -50px);
  }
  .head-news-img img{
    max-height: 250px;
  }
  .logo {
    margin-top: clamp(5px, 1vw, 25px);
  }
  .card img{
    max-width: 100%;
  }
}
